[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
websockets = "~=10.0"
ipython = "~=7.27"
supervisor = "~=4.2"
jsonrpcserver = "~=5.0"

[dev-packages]
python-dotenv = "~=0.19"

[requires]
python_version = "3.9"
